.side-panel {
    border: 2px solid gray;
    display: inline;
    width: auto;
    padding: 20px;
    overflow-y: auto;
    max-height: 40rem;
    min-width: 200px;
}

#canvas {
    border-bottom: none;
}

.side-panel h2 {
    font-size: 18pt;
}

.side-panel p {
    font-size: 14pt;
    line-height: 1.5;
}

r {
    text-decoration: overline;
}

.qef {
    font-family: "Charm", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 32pt !important;
    text-align: center;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@keyframes flash {
    from {outline: 3px solid gray;}
    to {outline: 3px solid var(--bg);}
}

.instructions {
    background-color: var(--bg);
    border: 2px solid gray;
    outline: 2px solid var(--primary);
    transition: all .1s;
    /* animation: flash .5s infinite; */
    padding: 12pt;
    font-size: 22pt;
    user-select: none;
    -moz-user-select: none;
}

mark {
    background-color: var(--accent);
    color: black;
}

.info {
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--bg);
    border-radius: 100%;
    width: 45px;
    height: 45px;
    outline: none;
    padding: 10px;
    border: 2px solid gray;
    color: gray;
    transition: all .1s;
    cursor: pointer;
    font-size: 12pt;
    margin-top: 10px;
    margin-right: 10px;
}

.info-popup {
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: fit-content;
    width: 30%;
    height: 40%;
    border: 2px solid gray;
    background-color: var(--bg);
    padding: 20px;
    font-size: 14pt;
    text-align: center;
}

.info-popup i {
    transform: scale(1.5);
    margin-right: 10px;
}

.close {
    position: absolute;
    right: 16px;
    top: 16px;
    width: 32px;
    height: 32px;
    opacity: .3;
}
.close:hover {
    opacity: 1;
    cursor: pointer;
}
.close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: gray;
}
.close:before {
    transform: rotate(45deg);
}
.close:after {
    transform: rotate(-45deg);
}

.prop-num-info {
    margin-top: 50px;
    margin-bottom: 50px;
}


.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--dark-bg);
    -webkit-transition: .4s;
    transition: .4s;
    outline: 2px solid gray;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: gray;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: var(--primary);
}

input:checked + .slider:before {
    background-color: var(--bg);
}

input:focus + .slider {
    box-shadow: 0 0 1px var(--primary);
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.full-diagram-panel p {
    position: relative;
    display: inline;
    margin-left: 10px;
    top: 25%;
}