@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Charm:wght@400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root {
    --bg: rgb(35, 35, 37);
    --dark-bg: rgb(30, 30, 31);
    --accent: rgb(160, 163, 177);
}

body {
    background-color: var(--bg);
    color: gray;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    
}

h1 {
    margin-left: 15px;
    font-size: 16pt;
}

#canvas {
    border: 2px solid gray;
}

.side-panel {
    border: 2px solid gray;
    display: inline;
    width: auto;
    padding: 20px;
    overflow-y: auto;
    max-height: 40rem;
}

.side-panel h2 {
    font-size: 18pt;
}

.side-panel p {
    font-size: 14pt;
    line-height: 1.5;
}

r {
    text-decoration: overline;
}

.qef {
    font-family: "Charm", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 32pt !important;
    text-align: center;
}

button {
    background-color: var(--bg);
    outline: none;
    padding: 10px;
    border: 2px solid gray;
    color: gray;
    transition: all .1s;
    cursor: pointer;
    font-size: 14pt;
}

button:hover {
    background-color: gray;
    color: black;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@keyframes flash {
    from {outline: 3px solid gray;}
    to {outline: 3px solid var(--bg);}
}

.instructions {
    background-color: var(--bg);
    padding: 20px;
    font-size: 16pt;
    border: 2px solid gray;

    transition: all .5s;
    animation: flash .5s infinite;

    padding: 15pt;
    font-size: 20pt;
}

mark {
    background-color: var(--accent);
    color: black;
}

::-webkit-scrollbar {
    width: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
}
   
/* Handle */
::-webkit-scrollbar-thumb {
    background-color: gray;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--accent);
}